In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import pandas_datareader.data as web

c:\python38\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
start = dt.datetime(2020,3,20)
end = dt.datetime(2020,4,24)

In [3]:
AAPL_df = web.DataReader('AAPL', 'yahoo', start, end)

AAPL_df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-03-20,251.830002,228.000000,247.179993,229.240005,100423300,229.240005
2020-03-23,228.500000,212.610001,228.080002,224.369995,84188200,224.369995
2020-03-24,247.690002,234.300003,236.360001,246.880005,71882800,246.880005
2020-03-25,258.250000,244.300003,250.750000,245.520004,75900500,245.520004
2020-03-26,258.679993,246.360001,246.520004,258.440002,63021800,258.440002

In [4]:
AAPL_df.reset_index(inplace = True)
AAPL_df.set_index('Date', inplace = True)
AAPL_df.to_csv('AAPL_Yahoo.csv')